@import "../../styles/variables.scss";

.howItWorksPage {
  text-align: center;
  color: $dark;
  .header {
    .navbar {
      height: 100%;
    }
  }
  h1 {
    @media (min-width: $breakpoint-tablet) {
      font-size: 42px;
    }
    padding: 1.5rem;
    font-size: 24px;
    font-weight: 400;
  }
  .cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
  .card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 3rem;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: column-reverse;
    }
  }
  .section {
    padding: 2rem;
    padding-bottom: 0;
    text-align: start;
    @media (min-width: $breakpoint-tablet) {
      text-align: center;
    }
    .sectionTitle {
      text-align: center;
    }
    p {
      padding: 1rem 0;
      font-size: 1rem;
    }
  }
  h3 {
    padding-bottom: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

.benefitList {
  @media (min-width: $breakpoint-tablet) {
    text-align: center;
  }
}
