@import '../../../../../styles/variables.scss';

.searchBar {
  position: relative;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $breakpoint-desktop) {
    height: auto;
  }
  input {
    background-color: transparent;
    border-radius: 15px;
    height: 64px;
    width: 329px;
    padding-left: 3rem;
    outline: 1px solid rgba(67, 90, 111, 0.14);
    color: #fbfbfb;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    outline: 2px solid white;
    font-size: 1rem;

    @media (max-width: $breakpoint-desktop) {
      &:focus {
        outline: none;
      }
    }

    &::placeholder {
      color: #fbfbfb;
      font-size: 1rem;
    }
  }

  .magnifyingGlass {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    bottom: 0;
    left: 1rem;
    margin: auto 0;
  }
}
