@import '../../styles/variables.scss';

.landingPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  color: #424242;
  padding: 1rem 1.5rem;

  section {
    display: flex;
    flex-wrap: wrap;

    &:first-of-type {
      margin-bottom: 60px;
    }

    @media (min-width: $breakpoint-tablet) {
      flex-wrap: nowrap;
    }
  }

  img {
    max-width: 100%;
  }

  h4 {
    padding: 0.5rem 0;
  }
}

.mainSectionLanding {
  .landingTitle {
    font-size: 58px;
    line-height: 65px;
    font-weight: 800;
    color: #18191f;

    @media (min-width: $breakpoint-desktop) {
      font-size: 68px;
    }
  }

  p {
    padding: 1rem 0;
  }

  .imageWrapper {
    display: none;

    @media (min-width: $breakpoint-desktop) {
      display: block;
    }
  }
}

.stepContainer {
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $breakpoint-desktop) {
    p {
      font-size: 1.5rem;
    }
  }
}

.imageWrapper {
  display: block;
  width: 100%;
  text-align: right;
}

.footer {
  background: #0b0d17;
  color: white;
  padding: 1.5rem;
  text-align: center;
}
