@import "./variables.scss";
.spotInfo {
  padding: 1rem;
  section {
    color: $dark;
  }
  h3 {
    padding: 1rem 0;
  }
}
.gallerySection {
  width: 100%;
  section {
    padding: 0;
  }
  padding: 0;
  img {
    width: 100%;
  }
}
.lineDivision {
  border: 1px solid rgba(52, 52, 52, 0.2);
  margin-top: 1.5rem;
}

.amenitiesSection {
  li {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 2rem;
  }
}

.descriptionSection {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
}

.formOverlay {
  background-color: #4e4e4e;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  iframe {
    width: 100%;
    height: 100%;
  }
  &.open {
    display: block;
  } /* Specify a stack order in case you're using a different order for other*/
}

.locationSection {
  .mapWrapper {
    width: 100%;
    iframe {
      width: 100%;
      height: 450px;
      border: 0;
    }
  }
}

.bookBtn {
  width: 140px;
  padding: 0.5rem;
  background-color: $main-blue;
  border-radius: 2px;
  border: none;
  color: white;
}

.bookBtnBottomWrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
